header.container_header
	ul.socials.socials_header
		-
			icons = ['vk', 'gh', 'in'];
		each icon in icons
			li.socials__item
				a(href="#").socials__link
					svg.icons.icons__socials.icons__socials_white
						use(xlink:href=`assets/img/sprite.svg#${icon}`)
		
	a(href="#").hamburger
		svg.icons.icon__hamburger
			use(xlink:href='assets/img/sprite.svg#hamburger')