.slider-section
	.container
		.slider-section__img
			img(src='assets/img/content/test.png')

		.slider-section__info
			.slider-section__container
				.slider-section__name
					h3.subtitle.text__title-line Сайт школы онлайн Образования
				.slider-section__tech HTML , CSS, JAVASCRIPT
				a(href='#' target='_blank').slider-section__btn
					svg.icons.slider-section__icon(viewBox="0 0 10 10" preserveAspectRatio='none')
						use(xlink:href='assets/img/sprite.svg#link')
					span.slider-section__text Посмотреть сайт

		.slider-section__nav
			a(href='#').slider-section__navigation
				svg.icons.slider-section__arrow.slider-section__arrow_down(viewBox="0 0 10 10" preserveAspectRatio='none')
					use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
				img(src='assets/img/content/test.png')
			a(href='#').slider-section__navigation
				svg.icons.slider-section__arrow.slider-section__arrow_up(viewBox="0 0 10 10" preserveAspectRatio='none')
					use(xlink:href='assets/img/sprite.svg#portf_arrow_up')
				img(src='assets/img/content/test.png')