.contact-form
	.contact-form__subtitle.subtitle 
		h3.subtitle_text Связаться со мной
	form.contact-form__input-group
		input(type='text' placeholder='Имя' name='name').contact-form__input
		input(type='email' placeholder='Email' name='email').contact-form__input
		textarea(placeholder='Ваше сообщение' name='message').contact-form__input

	.contact-form__btn-container
		button(type='submit').contact-form__btn.btn_submit Отправить
		button(type='reset').contact-form__btn.btn_submit Очистить