form.contact-form
	.contact-form__input-group
		h3.subtitle Связаться со мной

		input(type='text' placeholder='Имя').contact-form__input
		input(type='email' placeholder='Email').contact-form__input
		textarea(placeholder='Ваше сообщение').contact-form__input

	ul.btn-card
		li.btn-card__item
			button(type='submit').btn-card__link Отправить
		li.btn-card__item
			button(type='reset').btn-card__link Очистить