//-примесь для заголовков
mixin title (title, url, additionClass)
	.title(style=`background-image: url('assets/img/decor/${url}')` class=additionClass)= title


mixin line
	svg(viewbox="0 0 22 5").title__line
		rect(width="22" height="5").title__line-rect
