.about {
	position: relative;
}


.section__about-colomns {
	display: flex;
	flex-direction: row;

	@include tablets {
		flex-direction: column;
	}
}

.about__col {
	flex: 1;

	&_left {
		background: $darkWhite;
	}

	&_right {
		background: $beige;
	}	
}

//left

.about__col-content {
	margin: 0 20px 30px;
	@extend %clearfix;

	@include desktop {
		margin: 0 80px 40px;
	}

	@include tablets {
		margin: 0 150px 45px;
	}

	@include phones {
		margin: 10px 10px 30px;
	}
}

.about__section-title {
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 30px;
	padding-right: 6%;
	font-size: 63px;
	font-family: "bernier_regularregular";
	color: $grayTitle;
	background-size: 100% 100%;
	@extend %titleDecor;
}

.user-about {
	float: left;
	width: 50%;
}

.about__section-title, .user-about {
	@include desktop {
		float: none;
		width: 100%;
	}
}

.user-about__picture {
	margin-top: 20px;
	margin-bottom: 35px;
	text-align: center;
	width: 100%;

	@include desktop {
		margin-top: 0;
	}

	img {
		display: inline-block;
		width: 100%;
	}
}

.subtitle {
	text-align: center;
	font-size: 35px;
	font-family: "bernier_regularregular";
	color: $grayTitle;
	@extend %titleDecor;
}

.user-about__text {
	font-size: 16px;
	color: $grayText;

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

//right
.about-data {
	margin: 10px 40px 20px 40px;

	@include tablets {
		margin: 10px 105px 20px 105px;
	}

	@include phones {
		margin: 10px 10px 20px 10px;
	}
}

.about-data__desc {
	@include tablets {
		margin: 0 45px;
	}
	@include phones {
		margin: 0;
	}
}

.about-user-info__title {
	@include tablets {
		//margin: 0 100px;
	}
	@include phones {
		//margin: 0 40px;
	}
}

.about-user-info__text {
	font-size: 16px;
	color: $grayText;

	p {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.skills-group__title {
	@include tablets {
		text-align: center;
	}
}
