.hero {
	height: 600px;
	overflow: hidden;
	position: relative;
	color: $white;
	background: url(../img/bg/bg-mountain-mask.jpg);
	background-size: cover;
    min-height: 100%;
    width: 100%;
}

.container-hero {
	position: relative;
}

//header


.hero__title {
	margin-top: 80px;
	position: relative;
}

.section-title {
	opacity: 0.1;
	@include centered(x);
	width: 100%;
    max-height: 270px;
}

//user


.arrow-down {
	display: block;
    margin-top: 130px;
}

.icon__arrow-down {
	@include centered(x);
	position: relative;
	fill: $lightBlue;

	&:hover {
		fill: $white;
	}
}