.hero {
	height: 600px;
	overflow: hidden;
	position: relative;
	color: $white;
}

.hero__bg {
	top: 0;
	width: 100%;
    max-height: 620px;
	@include centered(x);
}

.container-hero {
	position: relative;
}

//header


.hero__title {
	margin-top: 80px;
	position: relative;
}

.section-title {
	position: absolute;
	opacity: 0.1;
}

//user


.arrow-down {
	display: block;
    margin-top: 130px;
}

.icon__arrow-down {
	@include centered(x);
	position: relative;
	fill: $lightBlue;

	&:hover {
		fill: $white;
	}
}