.socials__item {
	display: inline-block;
	margin-left: 25px;

	&:first-child {
		margin-left: 0;
	}
}

.socials__link {
	display: block;
}

.icons__socials_white {
	fill: $lightBlue;

	&:hover {
		fill: $white;
	}
}

.icons__socials_green {
	fill: $green;

	&:hover {
		fill: $darkGreen;
	}
}