.about__triangles {
	display: block;
	width: 100%;
	height: 110px;
	position: absolute;
	bottom: 100%;
}

.triangle_fill_white {
	fill: $darkWhite;
	left: 0;
}

.triangle_fill_beige {
	fill: $beige;
	right: 0;
}

.triangle_fill_white-F {
	fill: $white;
	width: 50%;

	&_left {
		left: 0;
	}

	&_right {
		right: 0;
	}
}

.triangle_fill_white-works {
	fill: #faf8f0;
	width: 50%;

	&_left {
		left: 0;
	}

	&_right {
		right: 0;
	}
}